<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="../favicon.ico?"> -->

    <title>U.M.A.</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <header>
        <nav class="d-flex navbar navbar-light navbar-expand-md fixed-top bg-light">
            <a class="navbar-brand" href="/">Underground Music Analysis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_menu">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbar_menu">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="/genres">Genres</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Genre Associations</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">API</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
      </header>

      {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/top_genres.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/enter-exit-test.js') }}"></script>
  </body>
</html>