<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>U.M.A.</title>
  </head>
  <body> -->
    <!-- Navigation Bar -->
    <!-- <header>
        <nav class="d-flex navbar navbar-light navbar-expand-md fixed-top bg-light">
            <a class="navbar-brand" href="index.html">Underground Music Analysis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_menu">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbar_menu">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Genres</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Genre Associations</a>
                </li>
                <li class="nav-item ml-auto">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
      </header> -->

      {% extends "base.html" %}

      {% block content %}
      <main class="pt-5">
        <div class="container mt-5">
          <h1 class="display-3">Underground Music Analysis</h1>
          <h3 class="display-4 mx-5" id="total_albums">a Database with {{ total_albums }} Albums</h3>
          <!-- Top 10/20/All Genres graph -->
          <div id="top_genres">
            <!-- <div class="mb-5 display-1 justify-content-center d-flex">(TOP GENRES GRAPH)</div> -->
          </div>
          <hr>
          <!-- Genre Definitions -->
          <dl class="row" id="genre_definitions">
            <!-- <div style="position: relative">
              <a name="Electronic" style="position: absolute; top: -50px"></a>
                <dt class="offset-md-1 col-3 d-flex" id="sample_genre_A">
                  <div class="ml-auto">
                  Sample Genre A
                  </div>
                </dt>
            </div>
            <dd class="col-7">
                Nam in nibh at sem mollis fermentum sit amet nec velit. Morbi rutrum rutrum nisi id commodo. Pellentesque ipsum metus, porta vitae lacinia non, congue a eros. Suspendisse sit amet metus et mi ultricies sodales. Fusce vel ante vitae nunc pretium placerat non et nibh. Nam volutpat, lorem sed venenatis tristique, turpis urna cursus purus, et eleifend mauris eros a massa. Vivamus rutrum sem et convallis sollicitudin. Donec malesuada nec nisl vitae eleifend.
            </dd> -->
            <!-- <dt class="offset-md-1 col-3 d-flex" id="sample_genre_B">
              <div class="ml-auto">
                Sample Genre B
              </div>
            </dt>
            <dd class="col-7">
                Donec eu dui posuere, cursus lectus interdum, viverra risus. Nullam facilisis eget urna vel aliquet. Curabitur massa nunc, sollicitudin id tellus sit amet, varius finibus odio. Sed lorem dolor, fermentum vel magna et, tempor venenatis ipsum. Duis dictum auctor augue eget dignissim. Cras sed accumsan justo. Ut nec commodo libero.
            </dd>
            <dt class="offset-md-1 col-3 d-flex" id="sample_genre_C">
              <div class="ml-auto">
                Sample Genre C
              </div>
            </dt>
            <dd class="col-7">
                Mauris non orci justo. Ut scelerisque neque risus, non vulputate arcu molestie sed. Morbi id venenatis diam, nec blandit sem. Duis id dolor erat. Nulla feugiat at ex in fringilla. Aenean id laoreet magna. Morbi laoreet consequat arcu. Quisque vulputate imperdiet accumsan.
            </dd>
            <dt class="offset-md-1 col-3 d-flex" id="sample_genre_D">
              <div class="ml-auto">
                Sample Genre D
              </div>
            </dt>
            <dd class="col-7">
                Suspendisse semper finibus diam, vel faucibus diam semper sit amet. Aliquam a dapibus tellus. In sed orci ac metus sodales condimentum luctus quis tortor. Mauris semper sem ut laoreet pretium. Nulla bibendum dapibus velit consequat posuere. Mauris sollicitudin diam ante, ac dapibus sem rhoncus quis. Donec vel sagittis arcu. Vivamus placerat ipsum eget elit venenatis vulputate. Phasellus mauris nisl, pellentesque quis pharetra ac, rhoncus non orci.
            </dd> -->
          </dl>
        </div>
      </main>
      {% endblock %}
    <!-- Optional JavaScript -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html> -->